@model DownRest.Models.Project
@using DownRest.Models
@{
    ViewBag.Title = "Details";
}
<div>
    <h2>Details</h2>

    <div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            @Html.DisplayForModel(Model)
        </dl>
    </div>
    </div>
       